* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1344px;
}

/*------------------------------------------Navbar css start------------------------------------*/
.navbar {
  padding: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50px;
}

.navbar .contact a {
  padding: 15px 42px;
  background-color: #6a4df4;
  color: white;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.navbar .navbar-nav {
  column-gap: 67px;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  color: white;
  font-weight: 700;
  transition: 0.4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #6a4df4;
}

.navbar .navbar-nav .nav-item .active {
  color: #6a4df4;
  font-weight: 700;
}

/*----------------------Navbar css end---------------------------*/

/* ---------------banner_part css start--------------------- */

#banner_part {
  padding: 315px 0 176px;
  background: url(../images/banner.jpg) no-repeat center / cover;
  position: relative;
  z-index: 1;
}

#banner_part::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

#banner_part .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#banner_part .container h1 {
  font-size: 75px;
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 51px;
  color: white;
  max-width: 950px;
  text-align: center;
}

#banner_part .container p {
  max-width: 621px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}

#banner_part .container a {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: white;
  padding: 15px 42px;
  background-color: #6a4df4;
  border-radius: 10px;
  text-align: center;
}

.banner_slider {
  position: relative;
}

.banner_slider ul {
  position: absolute;
  left: 50%;
  bottom: 53px;
  transform: translateX(-50%);
  display: flex;
  column-gap: 2px;
}

.banner_slider ul li button {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 0;
  background-color: #6a4df4;
  font-size: 0;
}

.banner_slider ul .slick-active button {
  border: 4px solid white;
}

/* --------------------------------banner_part css end------------------------------ */

/* ---------------------------------success_part css start-------------------------------------- */
#success_part {
  padding: 171px 0 0 0;
}
#success_part .container {
  background: #e0fff9;
  padding: 85px 37px 97px 50px;
  border-radius: 20px;
}
#success_part .container h3 {
  color: #6a4df4;
  font-weight: 500;
  line-height: 120%;
  font-size: 25px;
}
#success_part .container h2 {
  color: #151515;
  font-size: 35;
  font-weight: 600;
  width: 387px;
  margin-top: 15px;
}
#success_part .container .text {
  display: flex;
  justify-content: flex-end;
  column-gap: 110px;
  margin-top: 13px;
}
#success_part .container .text h4 {
  font-weight: 700;
  color: #151515;
  font-size: 50px;
}
#success_part .container .text p {
  font-weight: 500;
  font-size: 20px;
  color: #737373;
  margin-top: 20px;
}

/* ---------------------------------success_Part css end-------------------------------------- */

/* ---------------------------------success_Part css start-------------------------------------- */

#service_part {
  padding: 149px 0 103px;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}

.title h3 {
  font-size: 45px;
  font-weight: 700;
  color: #151515;
  margin: 0 auto;
}

.title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 609px;
  margin: 20px auto 0;
}

#service_part .main {
  padding: 80px 49px 47px;
  text-align: center;
  border-radius: 20px;
  transition: 0.4s;
}

#service_part .main:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

#service_part .main h3 {
  font-weight: 700;
  font-size: 25px;
  margin: 40px 0 20px;
}

#service_part .main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #737373;
}

#service_part .row {
  row-gap: 24px;
}

/* ---------------------------------success_part css end-------------------------------------- */

/* ---------------------------------work_part css start-------------------------------------- */
#work_part {
  padding: 150px 0;
  background: #f3f3f3;
}

#work_part .main {
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
}

#work_part .main .text {
  padding: 0 42px 30px;
  text-align: center;
}

#work_part .main .text h3 {
  font-weight: 700;
  font-size: 20px;
  margin: 30px 0 10px;
}
#work_part .main .text p {
  max-width: 340px;
}

#work_part .main img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#work_part .row {
  row-gap: 24px;
}

/* ---------------------------------work_part css end-------------------------------------- */

/* ---------------------------------agence_part css start-------------------------------------- */

#agence_part {
  padding-top: 150px;
}

#agence_part .main {
  display: flex;
  flex-direction: column;
  row-gap: 95px;
}
#agence_part .title {
  margin-bottom: 130px;
}

#agence_part .title h3 {
  max-width: 518px;
}

#agence_part .title p {
  max-width: 802px;
}

#agence_part .top h3 {
  font-size: 25px;
  font-weight: 700;
  color: #151515;
  margin: 20px 0 10px;
}

#agence_part .top {
  max-width: 344px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #737373;
}

#agence_part .image {
  height: 428px;
  border-radius: 20px;
  overflow: hidden;
}

#agence_part .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* ---------------------------------agence_part css end-------------------------------------- */

/*------------------------------------------review_part css start----------------------------------- */

#review_part {
  padding: 106px 0 227px;
}
#review_part .title {
  margin-bottom: 130px;
}

#review_part .container {
  max-width: 1368px;
}

#review_part .review_slider .slick-list {
  padding: 74px 0 !important;
}

#review_part .review_slider .slide {
  margin: 0 12px;
  position: relative;
  padding: 54px 58px 54px 59px;
  border-radius: 30px;
  transition: all linear 0.4s;
}

#review_part .review_slider .slick-center {
  background-color: #f4efef;
  transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

#review_part .review_slider {
  position: relative;
}

#review_part .review_slider .left {
  height: 40px;
  width: 40px;
  background-color: #4756df;
  position: absolute;
  z-index: 10;
  left: 12px;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#review_part .review_slider .right {
  height: 40px;
  width: 40px;
  background-color: #4756df;
  position: absolute;
  z-index: 10;
  right: 12px;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#review_part .review_slider .slide p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
  margin: 20px 0;
}

#review_part .review_slider .slide .icon {
  display: flex;
  column-gap: 9px;
  font-size: 20px;
  color: #f9bd2c;
  margin-bottom: 32px;
}

#review_part .review_slider .client {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

#review_part .review_slider .client h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120px;
}

#review_part .review_slider .client span {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
}

/*------------------------------------------review_part css end----------------------------------- */

/*------------------------------------------form_part css start----------------------------------- */

#form_part {
  padding: 150px 0;
  background-color: #f3f3f3;
}
#form_part .row {
  justify-content: space-between;
}

#form_part .title {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#form_part .title p {
  max-width: 533px;
  color: #7b7b7b;
}

#form_part .title span {
  max-width: 526px;
  margin-top: 10px;
  color: #7b7b7b;
}

#form_part form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 536px;
  background-color: #ffffff;
  padding: 61px 43px;
  border-radius: 20px;
}

#form_part form h3 {
  font-weight: 700;
  font-size: 30px;
  color: #151515;
  text-align: center;
  margin-bottom: 30px;
}

#form_part form label {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #151515;
}

#form_part form input {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  padding: 19px 23px;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  margin: 10px 0 20px;
}

#form_part form button {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding: 19px 147px;
  background-color: #6a4df4;
  border-radius: 10px;
  border: 0;
  margin-top: 10px;
}

/*------------------------------------------form_part css end----------------------------------- */

/* --------------------------footer css start-------------------------------- */
footer {
  padding-top: 150px;
}

footer .container {
  position: relative;
}

footer .container::after {
  content: "";
  position: absolute;
  width: 1344px;
  height: 1px;
  background-color: #e8e8e8;
  left: 0;
  bottom: 0;
  transform: translateY(50px);
}

footer h5 {
  text-align: center;
  margin: 83px 0 33px;
  font-weight: 400;
  font-weight: 16px;
  line-height: 26px;
  color: #d0d0d0;
}

footer .row .text {
  display: flex;
  column-gap: 131px;
  justify-content: flex-end;
}

footer p {
  max-width: 356px;
}

footer h3 {
  font-weight: 600;
  font-size: 20px;
  color: #151515;
  margin-bottom: 40px;
}

footer ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #7b7b7b;
}

footer .image img {
  margin-bottom: 30px;
}

/* -------------------------------------footer css end-------------------------------------- */
